In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sc
import seaborn as sns
import re

In [13]:
df = pd.read_excel(r'D:\IT\mywork\Project\KBO-Analysis\kbo_batter.xlsx', encoding='utf-8', index=False)
df

,Name,Birth,Team,Position,WAR,G,PA,AB,R,H,...,RBI,SB,CB,BB,HBP,IBB,SO,DP,SH,SF
0,백인천82,1943-11-27,M,DH,5.88,72,298,250,55,103,...,64,11,3,42,3,10,17,5,0,3
1,윤동균82,1949-07-02,O,LF,4.13,77,334,284,54,97,...,47,9,2,45,1,2,27,3,0,4
2,이만수82,1958-09-19,삼,C,4.12,78,322,270,46,78,...,51,6,2,46,4,0,27,13,0,1
3,김봉연82,1952-01-13,해,DH,3.68,74,304,269,55,89,...,52,7,2,28,6,3,16,8,0,1
4,김우열82,1949-09-09,O,CF,3.46,62,255,210,43,65,...,41,14,4,38,6,6,25,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9280,이성열20,1984-07-13,한,DH,-0.93,79,248,227,23,46,...,34,1,1,16,5,0,69,4,0,0
9281,김규성20,1997-03-08,K,2B,-1.01,103,182,157,21,28,...,11,2,1,13,1,0,40,1,11,0
9282,김태진20,1995-10-07,NK,3B,-1.03,82,280,263,28,62,...,23,7,4,13,1,0,45,2,2,1
9283,박찬호20,1995-06-05,K,SS,-1.15,141,530,479,63,106,...,36,15,8,36,0,0,87,14,12,3
9284,정보근20,1999-08-31,롯,C,-1.18,85,152,133,9,20,...,5,0,0,11,1,0,32,7,6,1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9285 entries, 0 to 9284
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      8204 non-null   object
 1   Birth     9285 non-null   object
 2   Team      9285 non-null   object
 3   Position  7775 non-null   object
 4   WAR       9285 non-null   float64
 5   G         9285 non-null   int64
 6   PA        9285 non-null   int64
 7   AB        9285 non-null   int64
 8   R         9285 non-null   int64
 9   H         9285 non-null   int64
 10  2B        9285 non-null   int64
 11  3B        9285 non-null   int64
 12  HR        9285 non-null   int64
 13  TB        9285 non-null   int64
 14  RBI       9285 non-null   int64
 15  SB        9285 non-null   int64
 16  CB        9285 non-null   int64
 17  BB        9285 non-null   int64
 18  HBP       9285 non-null   int64
 19  IBB       9285 non-null   int64
 20  SO        9285 non-null   int64
 21  DP        9285 non-null   int64
 22  SH        9285 non-null   int64
 23  SF        9285 non-null   int64
dtypes: float64(1), int64(19), object(4)
memory usage: 1.7+ MB

In [15]:
tmp = df[df.isna().any(axis=1)]
tmp = tmp[tmp.WAR > 1]  # 어느정도 활약한 선수 filtering
tmp

,Name,Birth,Team,Position,WAR,G,PA,AB,R,H,...,RBI,SB,CB,BB,HBP,IBB,SO,DP,SH,SF
554,최홍석86,1960-03-28,M,NaN,1.03,79,152,142,13,42,...,19,1,0,5,2,0,21,1,2,1
875,이광근88,1962-01-24,태,NaN,1.79,67,234,205,20,61,...,25,0,2,18,2,0,26,3,8,1
1073,최동창89,1965-06-07,O,NaN,1.16,50,116,97,10,32,...,21,0,2,14,1,0,16,2,0,4
1243,이광근90,1962-01-24,태,NaN,1.67,66,189,159,25,44,...,18,1,1,25,3,1,17,5,2,0
1440,정문언91,1962-08-13,태,NaN,2.42,114,379,335,32,91,...,33,1,6,39,2,2,60,5,2,1
1452,정성룡91,1964-05-19,삼,NaN,1.56,77,157,132,22,39,...,12,2,3,22,1,0,23,1,2,0
1467,최동창91,1965-06-07,O,NaN,1.16,88,238,206,19,53,...,21,1,2,20,10,1,58,5,2,0
1674,정문언92,1962-08-13,태,NaN,1.97,78,239,217,27,67,...,24,1,5,21,0,1,36,5,0,1
1690,김건우92,1963-08-30,L,NaN,1.33,54,214,196,28,54,...,30,2,0,16,0,0,31,5,0,2
1695,윤용하92,1968-06-07,삼,NaN,1.16,77,143,131,14,41,...,18,0,2,9,1,2,24,1,1,1
1701,박재벌92,1968-09-17,해,NaN,1.05,66,152,131,29,36,...,15,12,4,10,9,0,15,2,1,1
1894,정성룡93,1964-05-19,해,NaN,3.13,107,304,248,35,61,...,43,2,0,49,4,0,53,4,0,3
1920,지화선93,1970-05-10,빙,NaN,1.64,115,337,303,27,84,...,21,5,6,22,3,0,23,4,5,4
1932,김건우93,1963-08-30,L,NaN,1.19,86,249,229,20,58,...,27,1,0,17,1,0,47,5,1,1
2130,이경복94,1970-11-19,해,NaN,1.91,78,224,205,27,67,...,25,1,0,8,4,0,12,7,5,2
2148,김병조94,1969-05-02,해,NaN,1.17,74,158,141,18,46,...,18,5,5,5,4,1,20,3,6,2
2379,하득인95,1966-10-09,태,NaN,1.20,94,299,265,24,61,...,40,3,1,24,6,1,30,10,1,3
2837,하득인97,1966-10-09,현,NaN,1.29,91,171,131,12,32,...,29,1,1,20,12,4,17,4,6,2
2840,박재용97,1969-06-16,해,NaN,1.25,94,331,294,40,72,...,33,1,1,25,7,1,55,6,4,1
3285,황성관99,1974-01-15,삼,NaN,1.01,90,191,164,27,52,...,15,12,3,17,4,1,25,1,5,1
3685,로마이어01,1965-09-27,L,NaN,1.15,60,239,205,28,55,...,47,0,2,25,2,5,50,6,0,7
3880,펨버튼02,1969-12-17,K,NaN,2.00,75,316,271,28,69,...,48,2,1,23,19,3,56,6,0,3
3888,잉글린02,1975-10-08,S,NaN,1.73,78,279,248,33,70,...,36,0,1,23,5,0,47,5,0,3
4080,이시온03,1975-09-24,롯,NaN,3.10,90,377,338,45,98,...,45,7,1,33,6,1,92,10,0,0
4318,오리어리04,1969-08-04,삼,NaN,1.84,63,240,211,30,56,...,28,0,0,23,4,1,37,7,0,2
4322,고동진04,1980-04-01,한,NaN,1.63,51,178,161,27,51,...,19,8,2,7,7,0,40,1,3,0
4324,엔젤04,1975-02-16,한,NaN,1.60,40,156,131,21,36,...,27,2,0,23,2,0,30,4,0,0

In [ ]:
정문언, 로마이어 = 지타
이경복, 하득인 = 2루수
엔젤 = 3루수
김건우, 김병조 = 1루수
나머지 = 외야수
# 박재벌 LF, 이광근 CF로 확인 (외야수 포지션은 중견수를 제외하면 유동적이므로 큰 의미 없을 듯 함)

In [16]:
RF = ['최동창', '이시온', '박재용', '황성관', '윤용하', '최홍석', '정성룡', '지화선', '펨버튼', '잉글린', '오리어리', '고동진']
CF = ['이광근']
LF = ['박재벌']
DH = ['정문언', '로마이어']
B2 = ['이경복', '하득인']
B3 = ['엔젤']
B1 = ['김건우', '김병조']

In [17]:
for name in tmp.Name:
    if name[:-2] in RF:
        df.loc[df.Name == name, 'Position'] = 'RF'
        
    elif name[:-2] in LF:
        df.loc[df.Name == name, 'Position'] = 'LF'
        
    elif name[:-2] in LF:
        df.loc[df.Name == name, 'Position'] = 'LF'
        
    elif name[:-2] in DH:
        df.loc[df.Name == name, 'Position'] = 'DH'
        
    elif name[:-2] in B2:
        df.loc[df.Name == name, 'Position'] = '2B'
        
    elif name[:-2] in B3:
        df.loc[df.Name == name, 'Position'] = '3B'
        
    elif name[:-2] in B1:
        df.loc[df.Name == name, 'Position'] = '1B'

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9285 entries, 0 to 9284
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      8204 non-null   object
 1   Birth     9285 non-null   object
 2   Team      9285 non-null   object
 3   Position  7800 non-null   object
 4   WAR       9285 non-null   float64
 5   G         9285 non-null   int64
 6   PA        9285 non-null   int64
 7   AB        9285 non-null   int64
 8   R         9285 non-null   int64
 9   H         9285 non-null   int64
 10  2B        9285 non-null   int64
 11  3B        9285 non-null   int64
 12  HR        9285 non-null   int64
 13  TB        9285 non-null   int64
 14  RBI       9285 non-null   int64
 15  SB        9285 non-null   int64
 16  CB        9285 non-null   int64
 17  BB        9285 non-null   int64
 18  HBP       9285 non-null   int64
 19  IBB       9285 non-null   int64
 20  SO        9285 non-null   int64
 21  DP        9285 non-null   int64
 22  SH        9285 non-null   int64
 23  SF        9285 non-null   int64
dtypes: float64(1), int64(19), object(4)
memory usage: 1.7+ MB

In [19]:
df.dropna(axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Name,Birth,Team,Position,WAR,G,PA,AB,R,H,...,RBI,SB,CB,BB,HBP,IBB,SO,DP,SH,SF
0,백인천82,1943-11-27,M,DH,5.88,72,298,250,55,103,...,64,11,3,42,3,10,17,5,0,3
1,윤동균82,1949-07-02,O,LF,4.13,77,334,284,54,97,...,47,9,2,45,1,2,27,3,0,4
2,이만수82,1958-09-19,삼,C,4.12,78,322,270,46,78,...,51,6,2,46,4,0,27,13,0,1
3,김봉연82,1952-01-13,해,DH,3.68,74,304,269,55,89,...,52,7,2,28,6,3,16,8,0,1
4,김우열82,1949-09-09,O,CF,3.46,62,255,210,43,65,...,41,14,4,38,6,6,25,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6827,이성열20,1984-07-13,한,DH,-0.93,79,248,227,23,46,...,34,1,1,16,5,0,69,4,0,0
6828,김규성20,1997-03-08,K,2B,-1.01,103,182,157,21,28,...,11,2,1,13,1,0,40,1,11,0
6829,김태진20,1995-10-07,NK,3B,-1.03,82,280,263,28,62,...,23,7,4,13,1,0,45,2,2,1
6830,박찬호20,1995-06-05,K,SS,-1.15,141,530,479,63,106,...,36,15,8,36,0,0,87,14,12,3
6831,정보근20,1999-08-31,롯,C,-1.18,85,152,133,9,20,...,5,0,0,11,1,0,32,7,6,1

In [20]:
df.to_excel('batter2.xlsx',  encoding='utf-8', index=False)