In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sc
import seaborn as sns
import re

In [2]:
df = pd.read_excel(r'D:\IT\mywork\Project\KBO-Analysis\dataset\kbo_batter.xlsx', encoding='utf-8', index=False, dtype={'Season': object})
df

,Name,Season,Birth,Team,Position,WAR,G,PA,AB,R,...,RBI,SB,CB,BB,HBP,IBB,SO,DP,SH,SF
0,백인천,82,1943-11-27,M,DH,5.88,72,298,250,55,...,64,11,3,42,3,10,17,5,0,3
1,윤동균,82,1949-07-02,O,LF,4.13,77,334,284,54,...,47,9,2,45,1,2,27,3,0,4
2,이만수,82,1958-09-19,삼,C,4.12,78,322,270,46,...,51,6,2,46,4,0,27,13,0,1
3,김봉연,82,1952-01-13,해,DH,3.68,74,304,269,55,...,52,7,2,28,6,3,16,8,0,1
4,김우열,82,1949-09-09,O,CF,3.46,62,255,210,43,...,41,14,4,38,6,6,25,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9280,이성열,20,1984-07-13,한,DH,-0.93,79,248,227,23,...,34,1,1,16,5,0,69,4,0,0
9281,김규성,20,1997-03-08,K,2B,-1.01,103,182,157,21,...,11,2,1,13,1,0,40,1,11,0
9282,김태진,20,1995-10-07,NK,3B,-1.03,82,280,263,28,...,23,7,4,13,1,0,45,2,2,1
9283,박찬호,20,1995-06-05,K,SS,-1.15,141,530,479,63,...,36,15,8,36,0,0,87,14,12,3
9284,정보근,20,1999-08-31,롯,C,-1.18,85,152,133,9,...,5,0,0,11,1,0,32,7,6,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9285 entries, 0 to 9284
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      8204 non-null   object
 1   Season    8204 non-null   object
 2   Birth     9285 non-null   object
 3   Team      9285 non-null   object
 4   Position  7775 non-null   object
 5   WAR       9285 non-null   float64
 6   G         9285 non-null   int64
 7   PA        9285 non-null   int64
 8   AB        9285 non-null   int64
 9   R         9285 non-null   int64
 10  H         9285 non-null   int64
 11  2B        9285 non-null   int64
 12  3B        9285 non-null   int64
 13  HR        9285 non-null   int64
 14  TB        9285 non-null   int64
 15  RBI       9285 non-null   int64
 16  SB        9285 non-null   int64
 17  CB        9285 non-null   int64
 18  BB        9285 non-null   int64
 19  HBP       9285 non-null   int64
 20  IBB       9285 non-null   int64
 21  SO        9285 non-null   int64
 22  DP        9285 non-null   int64
 23  SH        9285 non-null   int64
 24  SF        9285 non-null   int64
dtypes: float64(1), int64(19), object(5)
memory usage: 1.8+ MB

In [4]:
tmp = df[df.isna().any(axis=1)] # NA를 포함한 행 중에서
tmp = tmp[tmp.WAR > 1]  # 어느정도 활약한 선수 filtering
tmp

,Name,Season,Birth,Team,Position,WAR,G,PA,AB,R,...,RBI,SB,CB,BB,HBP,IBB,SO,DP,SH,SF
554,최홍석,86,1960-03-28,M,NaN,1.03,79,152,142,13,...,19,1,0,5,2,0,21,1,2,1
875,이광근,88,1962-01-24,태,NaN,1.79,67,234,205,20,...,25,0,2,18,2,0,26,3,8,1
1073,최동창,89,1965-06-07,O,NaN,1.16,50,116,97,10,...,21,0,2,14,1,0,16,2,0,4
1243,이광근,90,1962-01-24,태,NaN,1.67,66,189,159,25,...,18,1,1,25,3,1,17,5,2,0
1440,정문언,91,1962-08-13,태,NaN,2.42,114,379,335,32,...,33,1,6,39,2,2,60,5,2,1
1452,정성룡,91,1964-05-19,삼,NaN,1.56,77,157,132,22,...,12,2,3,22,1,0,23,1,2,0
1467,최동창,91,1965-06-07,O,NaN,1.16,88,238,206,19,...,21,1,2,20,10,1,58,5,2,0
1674,정문언,92,1962-08-13,태,NaN,1.97,78,239,217,27,...,24,1,5,21,0,1,36,5,0,1
1690,김건우,92,1963-08-30,L,NaN,1.33,54,214,196,28,...,30,2,0,16,0,0,31,5,0,2
1695,윤용하,92,1968-06-07,삼,NaN,1.16,77,143,131,14,...,18,0,2,9,1,2,24,1,1,1
1701,박재벌,92,1968-09-17,해,NaN,1.05,66,152,131,29,...,15,12,4,10,9,0,15,2,1,1
1894,정성룡,93,1964-05-19,해,NaN,3.13,107,304,248,35,...,43,2,0,49,4,0,53,4,0,3
1920,지화선,93,1970-05-10,빙,NaN,1.64,115,337,303,27,...,21,5,6,22,3,0,23,4,5,4
1932,김건우,93,1963-08-30,L,NaN,1.19,86,249,229,20,...,27,1,0,17,1,0,47,5,1,1
2130,이경복,94,1970-11-19,해,NaN,1.91,78,224,205,27,...,25,1,0,8,4,0,12,7,5,2
2148,김병조,94,1969-05-02,해,NaN,1.17,74,158,141,18,...,18,5,5,5,4,1,20,3,6,2
2379,하득인,95,1966-10-09,태,NaN,1.20,94,299,265,24,...,40,3,1,24,6,1,30,10,1,3
2837,하득인,97,1966-10-09,현,NaN,1.29,91,171,131,12,...,29,1,1,20,12,4,17,4,6,2
2840,박재용,97,1969-06-16,해,NaN,1.25,94,331,294,40,...,33,1,1,25,7,1,55,6,4,1
3285,황성관,99,1974-01-15,삼,NaN,1.01,90,191,164,27,...,15,12,3,17,4,1,25,1,5,1
3685,로마이어,01,1965-09-27,L,NaN,1.15,60,239,205,28,...,47,0,2,25,2,5,50,6,0,7
3880,펨버튼,02,1969-12-17,K,NaN,2.00,75,316,271,28,...,48,2,1,23,19,3,56,6,0,3
3888,잉글린,02,1975-10-08,S,NaN,1.73,78,279,248,33,...,36,0,1,23,5,0,47,5,0,3
4080,이시온,03,1975-09-24,롯,NaN,3.10,90,377,338,45,...,45,7,1,33,6,1,92,10,0,0
4318,오리어리,04,1969-08-04,삼,NaN,1.84,63,240,211,30,...,28,0,0,23,4,1,37,7,0,2
4322,고동진,04,1980-04-01,한,NaN,1.63,51,178,161,27,...,19,8,2,7,7,0,40,1,3,0
4324,엔젤,04,1975-02-16,한,NaN,1.60,40,156,131,21,...,27,2,0,23,2,0,30,4,0,0

In [ ]:
정문언, 로마이어 = 지타
이경복, 하득인 = 2루수
엔젤 = 3루수
김건우, 김병조 = 1루수
나머지 = 외야수

In [5]:
RF = ['최동창', '이시온', '박재용', '황성관', '윤용하', '최홍석', '정성룡', '지화선', '펨버튼', '잉글린', '오리어리', '고동진']
CF = ['이광근']
LF = ['박재벌']
DH = ['정문언', '로마이어']
B2 = ['이경복', '하득인']
B3 = ['엔젤']
B1 = ['김건우', '김병조']

In [6]:
for name in tmp.Name:
    if name[:-2] in RF:
        df.loc[df.Name == name, 'Position'] = 'RF'
        
    elif name[:-2] in LF:
        df.loc[df.Name == name, 'Position'] = 'LF'
        
    elif name[:-2] in LF:
        df.loc[df.Name == name, 'Position'] = 'LF'
        
    elif name[:-2] in DH:
        df.loc[df.Name == name, 'Position'] = 'DH'
        
    elif name[:-2] in B2:
        df.loc[df.Name == name, 'Position'] = '2B'
        
    elif name[:-2] in B3:
        df.loc[df.Name == name, 'Position'] = '3B'
        
    elif name[:-2] in B1:
        df.loc[df.Name == name, 'Position'] = '1B'

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9285 entries, 0 to 9284
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      8204 non-null   object
 1   Season    8204 non-null   object
 2   Birth     9285 non-null   object
 3   Team      9285 non-null   object
 4   Position  7775 non-null   object
 5   WAR       9285 non-null   float64
 6   G         9285 non-null   int64
 7   PA        9285 non-null   int64
 8   AB        9285 non-null   int64
 9   R         9285 non-null   int64
 10  H         9285 non-null   int64
 11  2B        9285 non-null   int64
 12  3B        9285 non-null   int64
 13  HR        9285 non-null   int64
 14  TB        9285 non-null   int64
 15  RBI       9285 non-null   int64
 16  SB        9285 non-null   int64
 17  CB        9285 non-null   int64
 18  BB        9285 non-null   int64
 19  HBP       9285 non-null   int64
 20  IBB       9285 non-null   int64
 21  SO        9285 non-null   int64
 22  DP        9285 non-null   int64
 23  SH        9285 non-null   int64
 24  SF        9285 non-null   int64
dtypes: float64(1), int64(19), object(5)
memory usage: 1.8+ MB

In [8]:
df.dropna(axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Name,Season,Birth,Team,Position,WAR,G,PA,AB,R,...,RBI,SB,CB,BB,HBP,IBB,SO,DP,SH,SF
0,백인천,82,1943-11-27,M,DH,5.88,72,298,250,55,...,64,11,3,42,3,10,17,5,0,3
1,윤동균,82,1949-07-02,O,LF,4.13,77,334,284,54,...,47,9,2,45,1,2,27,3,0,4
2,이만수,82,1958-09-19,삼,C,4.12,78,322,270,46,...,51,6,2,46,4,0,27,13,0,1
3,김봉연,82,1952-01-13,해,DH,3.68,74,304,269,55,...,52,7,2,28,6,3,16,8,0,1
4,김우열,82,1949-09-09,O,CF,3.46,62,255,210,43,...,41,14,4,38,6,6,25,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,이성열,20,1984-07-13,한,DH,-0.93,79,248,227,23,...,34,1,1,16,5,0,69,4,0,0
6802,김규성,20,1997-03-08,K,2B,-1.01,103,182,157,21,...,11,2,1,13,1,0,40,1,11,0
6803,김태진,20,1995-10-07,NK,3B,-1.03,82,280,263,28,...,23,7,4,13,1,0,45,2,2,1
6804,박찬호,20,1995-06-05,K,SS,-1.15,141,530,479,63,...,36,15,8,36,0,0,87,14,12,3
6805,정보근,20,1999-08-31,롯,C,-1.18,85,152,133,9,...,5,0,0,11,1,0,32,7,6,1

In [9]:
df.to_excel(r'D:\IT\mywork\Project\KBO-Analysis\dataset\kbo_batter2.xlsx',  encoding='utf-8', index=False)

In [ ]:
# 개명한 선수들 이름 변경

In [10]:
rename = pd.read_excel(r'D:\IT\mywork\Project\KBO-Analysis\dataset\rename.xlsx', encoding='utf-8', index=False)
rename

    Year Before After       Birth Team
0   2017    고영우   고장혁  1990-01-08    기
1   2017    오승택   오태곤  1991-11-18    롯
2   2015    김영관   김지성  1985-07-20    L
3   2015     에릭    해커  1983-03-26    N
4   2015    이승화   이우민  1982-05-04    롯
5   2015    이학준   이시찬  1985-02-25    한
6   2014    김희걸   김건한  1981-03-26    삼
7   2014    문현정   문수호  1983-06-04    N
8   2013    김민식   김주원  1991-08-30    S
9   2013    김상현   김태영  1980-04-07    기
10  2013    류재원   류은재  1983-12-13    기
11  2013    장기영   장민석  1982-05-09    두
12  2013    장민제   장민재  1990-03-19    한
13  2013    장지환   장시하  1992-05-20    기
14  2013    장채환   장시윤  1993-09-23    넥
15  2013    장효훈   장시환  1987-11-01    넥
16  2013    전태현   전우엽  1989-06-20    기
17  2013    황성용   황동채  1983-07-04    롯
18  2012    김남석   김재율  1989-01-14    L
19  2012    유재원   류재원  1983-12-13    기
20  2012    윤상균   윤요섭  1982-03-30    L
21  2012    이준희   이지모  1986-10-30    롯
22  2012    장철희   장재훈  1988-08-25    한
23  2012    전승윤   전유수  1986-11-29    넥
24  2011    박영복   박도현  1983-04-12    넥
25  2011    오승택   오재필  1982-07-27    한
26  2011    현승민   현철민  1987-04-23    경
27  2010    박남섭   박준서  1981-12-11    롯
28  2010    오병일   오수호  1990-04-20    롯
29  2010    정종민   정재원  1984-08-11    한
30  2010    진민호   진해수  1986-06-26    상
31  2009    손광민   손아섭  1988-03-18    롯
32  2005    윤경희   윤경영  1980-08-12    한
33  2004    김명완   신승현  1983-08-13    S
34  2002    문재화   문규현  1983-07-05    롯
35  2002    박승종   박종윤  1982-04-11    롯
36  1983    김용윤   김바위  1955-04-08    M

In [12]:
for idx in df.index:
    row = df.loc[idx, ['Name', 'Birth']]
    name = row['Name']
    birth = row['Birth']
    if name in list(rename.Before) and birth in list(rename.Birth):
        change = ''.join(rename.loc[(rename['Before'] == name) & (rename['Birth'] == birth)].After)
        df.loc[idx, 'Name'] = change
        print(list(df.loc[idx]))

['류은재', '07', '1983-12-13', 'K', 'CF', 0.25, 10, 12, 12, 4, 4, 0, 0, 2, 10, 2, 0, 0, 0, 0, 0, 3, 0, 0, 0]
['류은재', '08', '1983-12-13', 'K', 'CF', -0.16, 13, 29, 27, 2, 4, 0, 0, 0, 4, 0, 2, 0, 2, 0, 0, 8, 0, 0, 0]
['류은재', '11', '1983-12-13', 'K', 'LF', 0.32, 10, 14, 13, 3, 4, 1, 1, 2, 13, 7, 0, 0, 1, 0, 0, 5, 0, 0, 0]
['고장혁', '16', '1990-01-08', 'K', 'SS', -0.01, 63, 81, 70, 18, 15, 3, 0, 0, 18, 4, 3, 2, 7, 3, 0, 15, 1, 1, 0]
['오태곤', '16', '1991-11-18', '롯', 'DH', -0.09, 42, 135, 123, 17, 32, 6, 0, 3, 47, 7, 6, 2, 12, 0, 0, 37, 5, 0, 0]
['오태곤', '19', '1991-11-18', 'K', '1B', 0.1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [13]:
df[df['Name'].isin(['고장혁', '류은재', '오태곤'])]

,Name,Season,Birth,Team,Position,WAR,G,PA,AB,R,...,RBI,SB,CB,BB,HBP,IBB,SO,DP,SH,SF
3619,류은재,07,1983-12-13,K,CF,0.25,10,12,12,4,...,2,0,0,0,0,0,3,0,0,0
3868,류은재,08,1983-12-13,K,CF,-0.16,13,29,27,2,...,0,2,0,2,0,0,8,0,0,0
4385,류은재,11,1983-12-13,K,LF,0.32,10,14,13,3,...,7,0,0,1,0,0,5,0,0,0
4926,고장혁,13,1990-01-08,K,SS,-0.16,29,11,11,7,...,0,2,1,0,0,0,6,0,0,0
5067,오태곤,14,1991-11-18,롯,SS,0.14,57,50,45,10,...,5,2,1,5,0,0,18,0,0,0
5161,고장혁,14,1990-01-08,K,SS,-0.29,21,27,24,4,...,1,0,0,1,1,0,6,0,0,1
5239,오태곤,15,1991-11-18,롯,SS,1.50,122,353,327,57,...,43,15,4,17,4,0,100,9,4,1
5428,고장혁,15,1990-01-08,K,2B,-0.54,82,57,52,17,...,4,7,3,4,0,0,15,0,1,0
5612,고장혁,16,1990-01-08,K,SS,-0.01,63,81,70,18,...,4,3,2,7,3,0,15,1,1,0
5634,오태곤,16,1991-11-18,롯,DH,-0.09,42,135,123,17,...,7,6,2,12,0,0,37,5,0,0
5814,오태곤,17,1991-11-18,롯k,1B,0.58,135,410,374,53,...,42,15,9,16,6,0,93,7,8,6
5957,고장혁,17,1990-01-08,K,3B,-0.28,66,40,38,13,...,3,0,1,0,0,0,9,1,1,1
6161,오태곤,18,1991-11-18,K,LF,-0.10,128,374,342,55,...,39,13,8,24,4,0,92,7,3,1
6325,오태곤,19,1991-11-18,K,DH,0.61,122,391,351,63,...,35,19,2,31,4,0,78,8,3,2
6373,오태곤,19,1991-11-18,K,1B,0.10,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
6467,고장혁,19,1990-01-08,K,3B,-0.14,22,32,31,2,...,3,0,1,0,1,0,8,1,0,0
6601,오태곤,20,1991-11-18,KS,LF,0.80,94,258,234,36,...,35,15,6,13,7,0,47,6,4,0
6717,고장혁,20,1990-01-08,K,3B,-0.08,7,13,13,0,...,0,0,0,0,0,0,5,0,0,0